<!DOCTYPE html>
<html lang="es">
<head>
    <%-include('./partials/head') %>
</head>
<body>
    <%-include('./partials/header') %>

    <h1 style="margin-left: 15%;">Inicio</h1>

    <a href="/timeline/crear" class="button-add">
        <i class="fas fa-feather-alt"></i>
    </a>

    

    <% for( let i = 0; i < posts.length; i++ ) { %>
            <div class="m-65 s-to-center l-block">
                <article style="color: black;" class="s-shadow-bottom">
                  <!-- P칩ster y contenido -->
                  <div class="ed-grid m-grid-5 s-gap-2 m-pxy-2 s-bg-white s-radius-tl s-radius-tr">
                    <!-- Contenedor de la imagen -->
                  <!--   <div class="m-cols-2 img-container s-ratio-16-9 s-radius-tl s-radius-tr m-radius">
                        <img src="/assets/img/">
                    </div> -->
                    <!-- Contenido -->
                    <div class="s-pxy-2 m-pxy-0 m-cols-3">
                        <h3><%=posts[i].title%></h3>
                        <p class="s-mb-0">
                            <h3><%=posts[i].description%></h3>
                        </p>
                    </div>
                  </div>
                  <footer class="s-bg-grey s-cross-center s-pxy-2 s-radius-br s-radius-bl">
                      <!-- Define el ancho m치ximo de la imagen -->
                      <div class="s-10 m-5 s-mr-1">
                          <!-- Contenedor de la imagen -->
                          <div class="circle ">
                              <img src="http://cdn.onlinewebfonts.com/svg/img_184513.png">
                          </div>
                      </div>
                      <!-- Autor -->
                      <% for( let user = 0; user < users.length; user++ ) { %>
                        <% if (posts[i].usuario_id == users[user].id) { %>
                            <p class="s-mb-0"><%=users[user].nickname%></p>
                        <% } %>
                      
                      <% } %>
                      <!-- Bot칩n -->
                      <a class="button s-to-right" href="/timeline/leer/<%=posts[i].id%>">Leer m치s</a>
                  </footer>
                </article>
            </div>
    <% } %>
</body>
</html>